.form-create {
  background-color: aliceblue;
  color: black;
  padding: 2rem;
  border-radius: 20px;
}

.warning-msg{
  color: red;
}

.button-form {
  Button{
    background-color: #3a1a1d;
    border: none;
    color: #f2ece2;
    transition: background-color 0.3s, color 0.3s;
  }
  
  Button:hover {
    background-color: #5a2a2d;
    color: #ffffff;
  }
}
